.sidebar{
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    font-size: 20px;
    height: 40em;
    width: 15em;
    float: left ;
}
.menu{
    margin: 0px 0px 0px 40px;
    border: 1px solid black;
    font-size: 20px;
    height: 1.75em;
    width: 25em;
    float: left;
}
.searchbar{
    margin: 0px 10px 0px 50px;
    border: 1px solid black;
    font-size: 20px;
    height: 1.75em;
    width: 20em;
    float: left;
}
.content {
    border: 1px solid black;
    font-size: 20px;
    margin-top:200px;
    float: right ;
}
li {
    list-style-type: none;
}
ul {
    display:inline-flex;
    margin : 0px;
}
.image{
    width: 10px
}
.form-control{
    border-width : 1px
}

.container{
    border: 1px solid black;

    width: 100%;
}
.container-fluid{
    display:flex;
    border: 1px solid black;
    width: 100%;
}
.item{
    border: 1px solid black;
    flex-grow: 0;
}
a{
    display: inline-flex;
}

